AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=replace_me
AWS_SECRET_ACCESS_KEY=replace_me
S3_BUCKET=tesla-telemetry-raw
S3_PREFIX=telemetry/

SNOWFLAKE_ACCOUNT=replace_me
SNOWFLAKE_USER=replace_me
SNOWFLAKE_PASSWORD=replace_me
SNOWFLAKE_ROLE=SYSADMIN
SNOWFLAKE_WAREHOUSE=TELEMETRY_WH
SNOWFLAKE_DATABASE=TESLA_TELEMETRY
SNOWFLAKE_SCHEMA=RAW

AIRFLOW_UID=50000
AIRFLOW__CORE__FERNET_KEY=
